:root {
  font-family: 'IBM Plex Sans', 'Segoe UI', sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color: #14213d;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}
